개 미치다 병 물다
누가 건물 추락
가스 고장 흐르다
아래 집 불
아기 숨 힘들다
낯선 아기 데리다
집 벽 넘어지다
남편 높다 추락 머리 피흐르다
아프다
오른쪽
운전 천천히
운전 빨리
나
그남자 맞다
어린이교통카드
2호
택시 여기 되다
하나 다음 내리다
지하철 곳 12 무엇
1호 곳 무엇
신분당 곳
시간 지연되다
시간 지연되다 5분
있다
약 가깝다
버스 곳 가깝다
설명 천천히
설명 어렵다
잠깐 기다리다
택시 문자보내다 나
역무원 부르다
빨리
국립박물관 가다 목적 지하철 번호
지하철 계단 곳 12
종로 가다
막차 시간
첫차 시간
도착 가능 몇분
지하철 가방 위로올리다 까먹다
배 아프다
서울 지하철 정기권 사다 무엇 곳
고속 지하철 9호 갈아타다
약수 지하철 3호 갈아타다 방법
지하철 곳 편의점 있다
돈 남다 충분
막차 시간
첫차 시간
1호 첫차 시간
이름 무엇
왜
핸드폰 잃어버리다 찾다
지하철 문 여기 번호
감사합니다
갈아타다 곳 맞다
내리다 갈아타다 가능
트렁크열다 물건 나르다
엘리베이터 안내하다 도와주다
내리다 곳 알려받다
명동 가다
명동 가다
명동 내리다
명동 내리다
명동 차내리다
명동 차내리다
명동 도착
명동 목적
명동 곳
명동 가다
안전벨트
안전벨트 꼿다
안전벨트
안전벨트 꼿다
꼿다
카드 교환하다
카드 다르다 교환하다
카드 교환하다
카드 다르다 교환하다
다르다 카드
다르다 카드
영수증
영수증
영수증
영수증
영수증 받다
영수증 받다
영수증 받다
영수증 받다
영수증 주세요
영수증 주세요
난방 끄다
난방 끄다
따뜻하다 끄다
따뜻하다 끄다
따뜻하다 그만
의자 무엇
의자 곳
의자 곳 무엇
의자 곳곳
의자 무엇 곳
의자 뼈곳
안내소 무엇
안내소 곳
안내소 곳 무엇
안내소 곳곳
안내소 무엇 곳
안내소 뼈곳
공기청정기 사용 안되다 죽다
공기청정기 사용 안되다 죽다
공기청정기 고장 불량
공기청정기 안되다 불량
공기청정기 잘 안되다 불량
공기청정기 사용 안되다 불량
공기청정기 사용 불가능 불량
공기청정기 불량 고장
공기청정기 안되다 고장
공기청정기 잘 안되다 고장
단말기터치 불량
단말기터치 고장
단말기터치 안되다
단말기터치 잘 안되다
단말기터치 사용 안되다
단말기터치 사용 불가능
단말기터치 불량 죽다
단말기터치 고장 죽다
단말기터치 안되다 죽다
단말기터치 잘 안되다 죽다
카드 사용 안되다 고장
카드 사용 불가능 고장
카드 불량 안되다
카드 고장 안되다
카드 사용 불가능 안되다
카드 불량 잘 안되다
카드 고장 잘 안되다
카드 사용 잘 안되다
카드 불량 사용 안되다
카드 고장 사용 안되다
샛길 다음 여기
샛길 다음 내리다
샛길 다음 내리다
샛길 다음 차내리다
샛길 다음 차내리다
샛길 저기 다음 곳
샛길 저기 다음 도착 내리다
샛길 저기 다음 도착 내리다
샛길 저기 다음 도착 차내리다
샛길 저기 다음 도착 차내리다
알다
돈
돈
돈
돈
돈
돈
돈
돈
돈
편의점 어디 곳
편의점 곳 어디
편의점 어디
편의점 곳
기념 물건 어디 곳
기념 물건 곳 어디
기념 물건 어디
기념 물건 곳
가위 짐 맡기다 가능
가방 비행기 안 가지다 가능 개수 몇
공항 방문 농인 위하다 서비스 드리다
궁금 있다 묻다 부탁
수어 느리다 부탁
미안 정보 찾다 없다
다음 또 오다 부탁
감사
버스
모두 일 쉽다 아니다
싫다
배 아프다
길 찾다 어렵다
숙제 잊다
돈 잃어버리다 찾다 중에
찾다 무엇
만나다 반갑다
수화 더 배우다 원하다
보다
돈 부족
능력 부족
미래 부탁 하지마
잘 부탁
느리다 하지마 빨리 오다
일 없다 나 돕다 부탁
사람 모두 놀라다 동시에 보다
나 이름 동시에 부르다
요즘 날 따뜻하다 자다
너 때문에 못하다
우연 알다 오빠 만나다
만들다
종이 이용 꽃 만들다
시간 가능 -면 이틀 동안 시골 가다 살다 원하다
가능
선생님 학생 뜨겁다 마음 가르치다 열심히
날 춥다 따뜻하다 입다 가다
밖 춥다 나오다 하지마 집 계시다
계획 보류 자연 미루다
계획 끝 일 오늘 시작
처음 가다 먹다 괜찮다
궁금하다
1시간 기다리다 오다 강하다
손 크다 대단하다
글 작다 보다 어렵다
키 작다 힘 세다
일 너무 힘들다
미안 잊다 듣다 못하다
돕다본인 감사
키우다
나 너 너무 좋다
점수 나쁘다 우울하다
계시다
칭찬 듣다 기분 좋다
저기 나 가지다 괜찮다
놀다 물건 가지다 놀다
배고프다
낳다
친구 딸 낳다
지키다
오늘 너 배달 맡다
말하다
형 책 필요 동생 시키다 책 장소 보내다
멀다 오다 벌써 가
개 데려가다 걷다
모임 끝 친구 헤어지다 섭섭
나 할머니 돌아가다 슬프다
영화 보다 슬프다
하나 물어보다
나다
나 미래 친하다
