지하철 안 불 피해 심하다
누가 잡다
독 버섯 먹다 같다
엄지손가락 자르다
전기 기둥 줄 끊어지다
몸 손묶다 갇히다
위 집 불
아기 낳다 오다
배 아프다
나이 병원 예약 부탁
낯선 밖다 걷다
저기
표 사다
지하철 시간 딱
1호
여기 서울 지하철
도착 곳 국립박물관
1호 맞다
타다
짐 있다
짐 있다
물건 없다
도착 알려주다
지하철 지하위 곳곳
표
발생하다
확인
잠실대교 가다
어린이집 보다 차내리다
사거리 우회전
지하철 곳 9호
오늘 하루 수고
지하철 단말기터치 안되다
표지판 보다 찾다
지하철 문 틈 물건 떨어지다
물건 잃어버리다
분당 첫차 시간
1호 맞다
1호 갈아타다
도착 10분 전
트렁크열다 물건 나르다
지하철 곳 안내하다
도착 알려받다
도착 알려받다 가능
경찰 전화걸다
서울역 내리다 가다
서울역 내리다 가다
서울역 차내리다 가다
서울역 차내리다 가다
서울역 도착 가다
서울역 목적 가다
서울역 곳 가다
서울역 가다 내리다
서울역 가다 내리다
서울역 가다 차내리다
지름길 내리다 가다
지름길 내리다 가다
지름길 차내리다 가다
지름길 차내리다 가다
지름길 도착 가다
지름길 목적 가다
지름길 곳 가다
지름길 가다 내리다
지름길 가다 내리다
지름길 가다 차내리다
기차 곳 맞다
기차 곳 맞다
기차 곳 내리다 맞다
기차 곳 내리다 맞다
기차 곳 차내리다 맞다
기차 곳 차내리다 맞다
기차 곳 내리다 맞다
기차 곳 내리다 맞다
기차 곳 차내리다 맞다
기차 곳 차내리다 맞다
시청
시청 내리다
시청 내리다
시청 차내리다
시청 차내리다
시청 오케이
시청 차두다
시청 내리다 오케이
시청 내리다 오케이
시청 차내리다 오케이
시청 차내리다 오케이
기차 곳 맞다
기차 곳 맞다
기차 곳 내리다 맞다
기차 곳 내리다 맞다
기차 곳 차내리다 맞다
기차 곳 차내리다 맞다
기차 곳 내리다 맞다
기차 곳 내리다 맞다
기차 곳 차내리다 맞다
기차 곳 차내리다 맞다
나사렛
나사렛 내리다
나사렛 내리다
나사렛 차내리다
나사렛 차내리다
나사렛 오케이
나사렛 가다
나사렛 내리다 오케이
나사렛 내리다 오케이
나사렛 차내리다 오케이
나사렛 차내리다 오케이
한국농아인협회 가다
한국농아인협회 가다
한국농아인협회 내리다
한국농아인협회 내리다
한국농아인협회 차내리다
한국농아인협회 차내리다
한국농아인협회 도착
한국농아인협회 목적
한국농아인협회 곳
한국농아인협회 가다
천안아산역 가다
천안아산역 가다
천안아산역 내리다
천안아산역 내리다
천안아산역 차내리다
에어컨 끄다
춥다 끄다
춥다 끄다
에어컨 끄다
에어컨 끄다
은행 무엇 길
은행 길 무엇
은행 길 곳
은행 곳 길
은행 길
은행 곳 무엇
아니다
에어컨 사용 안되다 고장
에어컨 사용 불가능 고장
에어컨 불량 안되다
에어컨 고장 안되다
에어컨 사용 불가능 안되다
에어컨 불량 잘 안되다
에어컨 고장 잘 안되다
에어컨 사용 잘 안되다
에어컨 불량 사용 안되다
에어컨 고장 사용 안되다
열쇠 잃어버리다
열쇠 없다 잃어버리다
열쇠 실종
열쇠 없다 실종
열쇠 찾다 실종
택시 전 곳 도착 차내리다
열쇠 사라지다 실종
택시 전 곳 저기
택시 전 저기 내리다
택시 전 저기 내리다
택시 전 저기 차내리다
택시 전 저기 차내리다
택시 전 저기 곳
택시 전 저기 도착 내리다
택시 전 저기 도착 내리다
택시 전 저기 도착 차내리다
택시 전 저기 도착 차내리다
택시 전 저기 곳 내리다
택시 전 저기 곳 내리다
택시 전 저기 곳 차내리다
택시 전 저기 곳 차내리다
택시 전 저기 곳 도착 내리다
택시 전 저기 곳 도착 내리다
택시 전 저기 곳 도착 차내리다
택시 전 저기 곳 도착 차내리다
열쇠 잃어버리다 실종
열쇠 실종 잃어버리다
송파 지하철 가다 방법
송파 지하철 곳 방법 무엇
송파 지하철 길 방법 무엇
송파 지하철 목적 방법 무엇
송파 지하철 가다 방법 무엇
송파 지하철 가다 원하다 방법 무엇
송파 지하철 찾다 방법 무엇
송파 지하철 곳 무엇 방법
송파 지하철 길 무엇 방법
송파 지하철 목적 무엇 방법
송파 지하철 목적 길 가다 방법
송파 지하철 가다 길 가다 방법
송파 지하철 가다 원하다 길 가다 방법
송파 지하철 찾다 길 가다 방법
송파 지하철 곳 목적 무엇
송파 지하철 길 목적 무엇
송파 지하철 가다 목적 무엇
송파 지하철 찾다 목적 무엇
송파 지하철 곳 목적 방법
송파 지하철 길 목적 방법
터널 다음 내리다
터널 다음 내리다
터널 다음 차내리다
터널 다음 차내리다
터널 다음 곳
터널 다음 도착 내리다
터널 다음 도착 내리다
터널 다음 도착 차내리다
터널 다음 도착 차내리다
터널 다음 여기
사거리 다음 내리다
사거리 다음 내리다
사거리 다음 차내리다
사거리 다음 차내리다
사거리 다음
사거리 다음 도착 내리다
사거리 다음 도착 내리다
사거리 다음 도착 차내리다
사거리 다음 도착 차내리다
사거리 다음 여기
육교 곳 다음 내리다
육교 곳 다음 내리다
육교 곳 다음 차내리다
육교 곳 다음 차내리다
육교 곳 다음
육교 곳 다음 도착 내리다
육교 곳 다음 도착 내리다
육교 곳 다음 도착 차내리다
육교 곳 다음 도착 차내리다
육교 곳 다음 여기
힘들다
군청 곳 다음 내리다
군청 곳 다음 내리다
군청 곳 다음 차내리다
군청 곳 다음 차내리다
군청 곳 다음 곳
군청 곳 다음 도착 내리다
군청 곳 다음 도착 내리다
군청 곳 다음 도착 차내리다
군청 곳 다음 도착 차내리다
군청 곳 다음 여기
언덕 다음 여기
언덕 저기 곳 다음 내리다
언덕 저기 곳 다음 내리다
언덕 저기 곳 다음 차내리다
언덕 저기 곳 다음 차내리다
언덕 저기 곳 다음
언덕 저기 곳 다음 도착 내리다
언덕 저기 곳 다음 도착 내리다
언덕 저기 곳 다음 도착 차내리다
언덕 저기 곳 다음 도착 차내리다
알다
사진기 잃어버리다
사진기 없다 잃어버리다
사진기 실종
사진기 없다 실종
사진기 찾다 실종
사진기 사라지다 실종
아이 잃어버리다
아이 없다 잃어버리다
아이 실종
아이 없다 실종
아이 찾다 실종
아이 사라지다 실종
아이 잃어버리다 실종
아이 실종 잃어버리다
카드 되다
카드
카드 되다
카드 가능
카드
카드 되다
사진기 잃어버리다 실종
사진기 실종 잃어버리다
항공 목욕 어디 곳
항공 목욕 곳 어디
항공 목욕 어디
항공 목욕 곳
한국 안 다르다 나라 이륙 어디 곳
한국 안 다르다 나라 이륙 곳 어디
한국 안 다르다 나라 이륙 어디
한국 안 다르다 나라 이륙 곳
다르다 나라 한국 안 이륙 어디 곳
다르다 나라 한국 안 이륙 곳 어디
다르다 나라 한국 안 이륙 어디
다르다 나라 한국 안 이륙 곳
항공 표 어디 곳
항공 표 곳 어디
항공 표 어디
항공 표 곳
소 돼지 키우다 검사 신고 어디 곳
소 돼지 키우다 검사 신고 곳 어디
소 돼지 키우다 검사 신고 어디
소 돼지 키우다 검사 신고 곳
항공 지하철 어디 곳
항공 지하철 곳 어디
항공 지하철 어디
항공 지하철 곳
동사무소 네모 프린트 어디 곳
동사무소 네모 프린트 곳 어디
동사무소 네모 프린트 어디
동사무소 네모 프린트 곳
항공 배달 어디 곳
항공 배달 곳 어디
항공 배달 어디
항공 배달 곳
항공 가다 검사 어디 곳
항공 가다 검사 곳 어디
항공 가다 검사 어디
항공 가다 검사 곳
차 빌리다 어디 곳
차 빌리다 곳 어디
차 빌리다 어디
차 빌리다 곳
여행 정보 묻다 어디 곳
여행 정보 묻다 곳 어디
여행 정보 묻다 어디
여행 정보 묻다 곳
세금 되돌리다 돈받다 어디 곳
세금 되돌리다 돈받다 곳 어디
세금 되돌리다 돈받다 어디
세금 되돌리다 돈받다 곳
지방 버스 어디 곳
지방 버스 곳 어디
지방 버스 어디
지방 버스 곳
노트북 짐 맡기다 가능
비행기 안 핸드폰 충전 네모 가지다 가능
핸드폰 충전 네모 비행기 안 가지다 가능
칼 짐 맡기다 가능
물 짐 맡기다 가능
가방 맡기다 무게 한계 몇
가방 짐들다 무게 한계 몇
가방 맡기다 무게 최고 가능 몇
가방 짐들다 무게 최고 가능 몇
확인 중
정보 찾다 중
정보 묻다 곳 가다 부탁
잠깐 기다리다 부탁
항공
탑승
수화물
간섭 싫다
위로
힘들다 위로 힘
엄마 나 위하다 음식 맛있다 주다
엄마 나 아파 성실 지키다
지금 바쁘다 미래 연락
일 두 가지 일이 겹치다 바쁘다
반갑다 안다
보다 부족 답답하다
부탁
부탁본인 일 있다 나 먼저 가다
부탁상대방 괜찮다
바람
나 너 비교 나 빠르다
부모 나 함께 살다 -중
나 먼저 가다 수고
고생 많다
토요일 -때 쉬다 원하다
거북 느리다
너 느리다 때문에 짜증나다
딸 유치원 다니다 -중
나 짐 많다 돕다본인 가능
매일 살다 여전히 지겹다
덥다 아이스크림 먹다 원하다
너무 덥다 공부 못하다
어제 -보다 오늘 춥다 아니다
몸 괜찮다 ?
상처 심하다 아니다 괜찮다
기억 모두 잊다 부탁
예전 일 때문에 기억 애매
작다
있다
방 -안에 사람 없다
감사 마음 전하다 위하다 편지 쓰다
날 좋다
저기 일 하다 싫다
반지 하다 원하다 돈 얼마
철수 오늘 학교 장소 1등 하다
나 가족 행복 살다
언니 아기 낳다 4
시험 합격 기쁘다 불면증
똑바로 말하다 해보다
헤어지다 아니다 왜
차 타다
돈 얼마 물어보다 해보다
새롭다 채소 나다
여자 나 친하다 친구
