어떤 사람이 집단폭력을 당하고 있어요.
친구가 음식을 먹다가 실수로 방부제를 같이 먹었어요.
어떤 사람한테 납치당했어요.
고압선이 끊어져 있어요.
아이를 공원에서 잃어버렸어요.
아이가 독극물을 삼켰어요.
빨리 도와주세요.
내가 방에 갇혔어요.
사람이 무거운 물건에 깔렸어요.
동생이 문틈에 손이 끼었어요.
제가 많이 급합니다.
많이 급하세요?
당신입니다.
그쪽이세요?
기본 요금은 오천원입니다.
1회용 카드도 되나요?
열차가 들어오고 있습니다.
도착했습니다.
도착했나요?
근처에 약국이 있습니다.
근처에 약국이 있나요?
짐이 없습니다.
짐은 없으세요?
트렁크에 짐을 넣겠습니다.
트렁크에 짐을 넣을까요?
힘드세요?
버스정류장이 어디에 있나요?
승차권입니다.
승차권 있으세요?
빨리 가주세요.
빨리 가드릴까요?
어디에서 내려드릴까요?
어린이집 좀 들렀다가주세요.
어린이집이 보이면 내려드릴까요?
롯데월드로 가려면 몇 호선을 타야하나요?
첫차는 몇 시인가요?
도착하려면 몇 분 남았을까요?
금액이 맞지않나요?
학교에 주차할 수 있나요?
반대편 승차장으로 어떻게 갈 수 있나요?
지하철 틈 사이로 휴대폰이 떨어졌습니다.
지하철 틈 사이로 이어폰이 떨어졌습니다.
교통카드 충전 되나요?
첫차는 몇 시인가요?
어디요?
고속도로가 빠릅니다.
고속도로가 빠른가요?
여기서 갈아탈 수 있습니다.
여기서 갈아탈 수 있나요?
10분 뒤에 도착합니다.
10분 뒤에 도착하나요?
5호선으로 환승하는 것 좀 도와주세요.
5호선으로 환승하는 것 좀 도와드릴까요?
목적지를 알려주세요.
신호등 못가서 내려주세요.
신호등 못가서 내려주세요.
신호등 못가서 내려주세요.
신호등 못가서 내려주세요.
신호등 못가서 내려주세요.
신호등 못가서 내려주세요.
신호등 지나서 내려주세요.
신호등 지나서 내려주세요.
화장실이 어디에 있나요?
물품보관함이 안되네요.
물품보관함이 안되네요.
지갑을 잃어버렸습니다.
안전벨트를 매주세요.
안전벨트를 매주세요.
다른 카드 없으세요?
다른 카드 없으세요?
학교로 들어가주세요.
유턴 해드릴까요?
유턴 해드릴까요?
유턴 해드릴까요?
유턴 해드릴까요?
유턴 해드릴까요?
카드 결제 되나요?
카드 결제 되나요?
나사렛대학교로 가주세요.
나사렛대학교로 가주세요.
서울역으로 가주세요.
서울역으로 가주세요.
이 주소로 갈까요?
김포공항으로 갈까요?
김포공항으로 갈까요?
김포공항으로 갈까요?
나사렛대학교로 갈까요?
나사렛대학교로 갈까요?
아파트 단지 안으로 가주세요.
아파트 단지 안으로 들어갈까요?
나사렛대학교 못가서 내려주세요.
기차역에서 내려주세요.
기차역에서 내려주세요.
건너편에서 내려주세요.
건너편에서 내려주세요.
시청으로 가주세요.
시청으로 가주세요.
기차역에서 내려드릴까요?
기차역에서 내려드릴까요?
건너편에서 내려드릴까요?
건너편에서 내려드릴까요?
시청에서 내려드릴까요?
시청에서 내려드릴까요?
나사렛대학교에서 내려드릴까요?
나사렛대학교에서 내려드릴까요?
한국농아인협회에서 내려드릴까요?
서울농아인협회에서 내려드릴까요?
서울농아인협회에서 내려드릴까요?
서울농아인협회에서 내려드릴까요?
서울농아인협회에서 내려드릴까요?
서울농아인협회에서 내려드릴까요?
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
서울농아인협회로 가주세요.
자판기는 어디에 있나요?
편의점은 어디에 있나요?
의자는 어디에 있나요?
자판기가 안되네요.
공기청정기가 안되네요.
카드 인식이 안되네요.
카드 인식이 안되네요.
카드 인식이 안되네요.
에어컨이 안되네요.
히터가 안되네요.
물품보관함이 안되나요?
물품보관함이 안되나요?
자판기가 안되나요?
카드 인식이 안되나요?
카드 인식이 안되나요?
카드 인식이 안되나요?
에어컨이 안되나요?
공항버스정류장 못가서 내려주세요.
공항버스정류장 못가서 내려주세요.
열쇠를 잃어버렸습니다.
스타벅스 못가서 내려주세요.
스타벅스 못가서 내려주세요.
스타벅스 못가서 내려주세요.
스타벅스 못가서 내려주세요.
맥도날드 지나서 내려주세요.
맥도날드 지나서 내려주세요.
이마트 지나서 내려주세요.
이마트 지나서 내려주세요.
파리바게트 지나서 내려주세요.
3번 출구로 나가려면 어떻게 가나요?
3번 출구로 나가려면 어떻게 가나요?
3번 출구로 나가려면 어떻게 가나요?
3번 출구로 나가려면 어떻게 가나요?
서울대학교 방향으로 가려면 어떻게 가나요?
여의도로 가려면 어떻게 가나요?
영등포로 가려면 어떻게 가나요?
영등포로 가려면 어떻게 가나요?
영등포로 가려면 어떻게 가나요?
종로로 가려면 어떻게 가나요?
종로로 가려면 어떻게 가나요?
종로로 가려면 어떻게 가나요?
종로로 가려면 어떻게 가나요?
버스정류장 지나서 내려주세요.
버스정류장 지나서 내려주세요.
사거리 지나서 내려주세요.
사거리 지나서 내려주세요.
큰 길 지나서 내려주세요.
언덕 지나서 내려주세요.
언덕 지나서 내려주세요.
경찰서 지나서 내려주세요.
경찰서 지나서 내려주세요.
경찰서 지나서 내려주세요.
경찰서 지나서 내려주세요.
힘듭니다.
신호등 지나서 내려드릴까요?
신호등 지나서 내려드릴까요?
버스정류장 지나서 내려드릴까요?
버스정류장 지나서 내려드릴까요?
사거리 지나서 내려드릴까요?
사거리 지나서 내려드릴까요?
큰 길 지나서 내려드릴까요?
언덕 지나서 내려드릴까요?
언덕 지나서 내려드릴까요?
경찰서 지나서 내려드릴까요?
경찰서 지나서 내려드릴까요?
경찰서 지나서 내려드릴까요?
경찰서 지나서 내려드릴까요?
맞습니다.
맞나요?
가방을 분실하셨나요?
가방을 분실하셨나요?
아이를 잃어버리셨나요?
아이를 잃어버리셨나요?
열쇠를 잃어버리셨나요?
카드를 분실하셨나요?
카메라를 분실하였습니다.
가방을 잃어버렸습니다.
가방을 잃어버렸습니다.
아이를 잃어버렸습니다.
아이를 잃어버렸습니다.
카드를 잃어버렸습니다.
유턴 맞으시죠?
유턴 맞으시죠?
유턴 맞으시죠?
유턴 맞으시죠?
유턴 맞으시죠?
유턴 맞습니다.
유턴 맞습니다.
유턴 맞습니다.
유턴 맞습니다.
유턴 맞습니다.
카드도 되나요?
카드도 됩니다.
카드도 됩니다.
카드도 됩니다.
반지를 분실하였습니다.
노트북을 잃어버렸습니다.
다와가나요?
다와갑니다.
유아 휴게실은 어디에 있습니까?
공항 내 샤워실은 어디에 있나요?
공항 내 샤워실은 어디에 있나요?
발권 카운터는 어디에 있나요?
제2 주차장은 어디에 있습니까?
제2 주차장은 어디에 있습니까?
지하철 승강장은 어디에 있습니까?
지하철 승강장은 어디에 있습니까?
코인로커가 어디에 있습니까?
의무실은 어디에 있습니까?
등본 발급은 어디에서 받을 수 있습니까?
공항 내 택배를 보낼 수 있는 곳이 어디입니까?
공항 내 택배를 보낼 수 있는 곳이 어디입니까?
대한항공 카운터는 어디에 있습니까?
캐리어 무게를 재는 곳은 어디인가요?
캐리어 무게를 재는 곳은 어디인가요?
캐리어 무게를 재는 곳은 어디인가요?
수하물 추가요금은 어디서 내나요?
수하물 추가요금은 어디서 내나요?
택시 승강장은 어디에 있습니까?
수하물보관소가 어디에 있습니까?
공항 내 샤워실이 어디에 있나요?
공항 내 샤워실이 어디에 있나요?
커피숍은 어디에 있습니까?
관광안내소는 어디에 있습니까?
패스트푸드는 어디에 있습니까?
패스트푸드는 어디에 있습니까?
빵집이 어디에 있습니까
빵집이 어디에 있습니까
공항 주변에 호텔은 어디있나요?
공항 주변에 호텔은 어디있나요?
아시아나항공 카운터는 어디에 있습니까?
와이파이를 어디에서 빌릴 수 있습니까?
와이파이를 어디에서 빌릴 수 있습니까?
면세품 인도장은 어디에 있습니까?
시외버스 승강장은 어디에 있습니까?
비행기시간을 놓쳤습니다. 어떻게 해야 하나요?
항공권을 잃어버렸습니다. 어떻게 하나요?
여권이 없습니다. 어떻게 하나요?
노트북을 위탁 수하물로 보낼 수 있나요?
카메라를 위탁 수하물로 보낼 수 있나요?
캠코더를 기내에 가져갈 수 있나요?
칼을 기내에 가져갈 수 있나요?
낚시대를 기내에 가져갈 수 있나요?
낚시대를 기내에 가져갈 수 있나요?
즐거운 여행 되시길 바랍니다.
네. 맞습니다.
지하철 승강장은 어디에 있습니까?
서울역에 어떻게 갈 수 있나요?
메모해야 기억하기 쉽다
시작
준비 시작!
거짓말이 싫어요
일이 어려워요
꼼짝말고 손들어 움직이면 쏜다
위로
중요한 약속이 있어서 먼저 갈게
찾는걸 도와줄까
안 바쁘면 만나
너무 반가워서 눈물이 났다
항상 보고 싶어
실력이 부족하다
그 많은 돈을 하루만에 갚는건 불가능해
아파서 병원에 다녀왔어
너무 따뜻해서 자고 싶다
만들다
나무로 만든 집은 벌레가 많다
할아버지는 매일 새벽 4시에 일어나신다
남자는 여자에게 운전을 가르쳤다
계획이 보류되어 미루게 되었다
공부하기 싫다
결과가 어떻게 되었는지 정말 궁금하다
청소하기 귀찮아
기다려봐
기억
기억하고 있니
크다
저방에 사람이 있어
힘들다
오래 걸었더니 힘들다
포기하면 안돼
아 기분이 좋다
듣다
마음에 드는거 있으면 하나 가져도 돼
이거 너 가져
너무 배고파
불행했던 과거는 잊고 살려한다
불행했던 기억은 잊고 다시 시작해봅시다
기쁘다
감독을 맡다
이번 임무는 내가 직접 맡는다
화장실에 다녀올테니 잠깐 짐 좀 맡아주세요
샐쭉 웃는 모습이 귀엽다
공손히 말하다
영화를 봤더니 슬펐다
지하철을 타다
집까지 버스를 타면 1시간이다
그의 생각은 어떤지 물어보았다
그는 나를 불편하게 생각하는거 같았어
그녀는 나와 아주 친한 친구야
이제부터 나와 친하게 지내자
